opentelemetry-api==1.25.0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
pyroscope-io==0.8.7
flask==2.3.3
psycopg2-binary==2.9.7
opentelemetry-instrumentation-flask==0.46b0
opentelemetry-instrumentation-psycopg2==0.46b0
requests==2.31.0
